body {
  font-family: 'Roboto', 'sans-serif';
  background-color: $lightGrey;
}

h1 {
  text-align: center;
  margin: 0;
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
